
<div id="e_display">
  <table>
    <tr>
      <td><span>Event:</span></td>
      <td><span id="title_display"></span></td>
    </tr>
    <tr>
      <td><span>Date:</span></td>
      <td><span id="date_display"></span></td>
    </tr>
    <tr>
      <td><span>Time:</span></td>
      <td><span id="time_display"></span></td>
    </tr>
    <tr>
      <td><span>Description:</span></td>
      <td><span id="description_display"></span></td>
    </tr>
</table>
</div>
