var current_clicked_day= current_date.getDay();
var total_rows = 6;
var total_cols = 7;
var week_array = new Array("Sun",
			"Mon", 
			"Tue", 
			"Wed", 
			"Thu", 
			"Fri",
			"Sat");

var month_array = new Array("January", 
			"Febuary", 
			"March", 
			"April", 
			"May", 
			"June", 
			"July",
			"August",
			"September",
			"October",
			"November",
			"December");

var current_month = month_array[current_date.getMonth()];
var current_year = current_date.getFullYear();

/*
=================================================================
  helper functions
=================================================================
*/


function getStartDay(month, year){
  var d = new Date(year, month, 1);
  return d.getDay();
}
function getEndDay(month, year){
  var d = new Date(year, month, 32);
  return 32 - d.getDate();
}
function getPrevMonth(month, year){
  if (month-1 < 0){
    year--;
    return 11;
  } else {
    return month-1;
  }
}
function getNextMonth(month, year){
  if (month+1 > 11){
    year++;
    return 0;
  } else {
    return month+1;
  }
}
function getCurrentMonth(){
  return current_month;
}

function getCell_ID(day){
  var offset = getStartDay(current_date.getMonth(),current_date.getFullYear());
  return day+offset-1;
}

function checkWindowSize(isResize){
  var w = $(window).width();
  var h = $(window).height();
  if (isResize){
    if (w > 50 && h>50){
      $('.cells').animate({width: ''+(w-190)/7+'px',
      height: ''+(h-200)/8+'px'}, 'fast');
      $('.other_cells').animate({width: ''+(w-190)/7+'px',
      height: ''+(h-200)/8+'px'}, 'fast');

      $('#display_month').animate({width: ''+(w-190)/7+'px'}, 'fast');
    } else if (h > 50) {
      $('.cells').animate({height: ''+(h-200)/8+'px'},'fast');
      $('.other_cells').animate({height: ''+(h-200)/8+'px'},'fast');
    } else if (w > 50) {
     $('.cells').animate({width: ''+(w-190)/7+'px'}, 'fast');
    }
  } else {
    if (w > 50){
      $('.cells').css('width', (w-190)/7);
      $('#display_month').css('width', (w-190)/7);
    } if (h > 50){
      $('.cells').css('height', (h-200)/8);
      $('.other_cells').css('height', (h-200)/8);
    }
  }
}

function openPopup(){

   $("#popup").html();
   $("#popup").css({'display': 'block', 'left': ''+x+'px', 'top': ''+y+'px'});
   $("#popup").animate({opacity: '1'}, 'fast');
}



function closePopup(){

  $('#popup').animate({opacity: '0'}, 'fast');
  $('#popup').css({'display':'none'});
}
/*
=================================================================
 -refresh() updates the calendar
=================================================================
*/
function refresh(){

  var start_day = getStartDay(current_date.getMonth(),current_date.getFullYear());
  var end_day = getEndDay(current_date.getMonth(),current_date.getFullYear());
  var prev_end_day =  getEndDay(getPrevMonth(current_date.getMonth()),
                                             current_date.getFullYear());
  var day = 1;
  var event_day = 1;
  var isNextMonth = false; 
  var tr = '';
  var th = '';
  var td = '';
  var tmp_id = 0;
  for (var j=0; j < total_cols; j++){
    th += '<th>'+week_array[j]+'</th>';
  }
  for (var i=0; i < total_rows; i++)
  {
    for (var k=0; k < total_cols; k++){
      td += '<td id="table_cell'+tmp_id++ +'"></td>';
    }
    tr += '<tr>'+ td + '</tr>';
    td = '';
  }
  $("#calendar").html(
    '<h2>My Calendar</h2>'+ 
    '<table id="cal_menu_table"><tr>'+
    '<td><div id="getLastYear" class="date_nav">'+
    '<button type="button" class="css3button">&lt&lt</button>'+
    '</div></td>'+
    '<td><div id="getLastMonth" class="date_nav">'+
    '<button type="button" class="css3button">&lt</button>'+
    '</div></td>'+
    '<td><div id="display_month" ><span>'+current_month+' '+current_year+
                    '</span></div></td>'+
    '<td><div id="getNextMonth" class="date_nav">'+ 
    '<button type="button" class="css3button">&gt</button>'+
    '</div></td>'+
    '<td><div id="getNextYear" class="date_nav">'+
    '<button type="button" class="css3button">&gt&gt</button>'+
    '</div></td>'+

    '</tr>'+
    '</table>'+
    '<table id="cal_table">'+
	'<thead><tr>'+
	th +
	'</tr></thead>'+
	'<tbody>'+
	tr +
	'</tbody></table>'
//    '</table><div id="popup"><span id="popup_text"></span></div>'
    );
    tmp_id = 0;
$("#cal_table tr").children('td').each(function(){
    
    if (start_day == 0 && end_day >= day && !isNextMonth){
      $(this).html("<a class = 'dates' name = '"+day+"'>"+day++ +"</a>");
      $(this).append("<div id = 'div_cell"+tmp_id++ +"'class = 'cells'><div>");
    } else if (start_day>0){
      start_day--;
      var prev_dates = prev_end_day-start_day;
      $(this).html("<span class = 'other_dates'>"+prev_dates+"</span>");
      $(this).append("<div class = 'other_cells'><div>");
    } else if (isNextMonth){
      $(this).html("<span class = 'other_dates'>"+day++ +"</span>");
      $(this).append("<div class = 'other_cells'><div>");
    } else {
      day = 1;
      isNextMonth = true;
      $(this).html("<span class = 'other_dates'>"+day++ +"</span>");
      $(this).append("<div class = 'other_cells'><div>");
    }
    $('.dates').animate({opacity:'1'});
    $('.other_dates').animate({opacity:'1'});
    var cday= ''+current_year+(current_date.getMonth()+1)+(day-1);
      <% Event.all.each do |ev| %>
      if ( cday == <%= ev.date.strftime('%Y%-m%-d') %>){
         $(this).find('.cells').append('<a href="events/<%= ev.id %>"> <%= ev.title %></a><br>');
      }
      <% end %>
});

$("#cal_table tr td").children('.dates').siblings('.cells').each(function(){
});  



$("#getLastMonth").click(function(){
  current_date.setMonth(current_date.getMonth()-1);
  current_year = current_date.getFullYear();
  current_month = month_array[current_date.getMonth()];
  refresh();
});
$("#getNextMonth").click(function(){
  current_date.setMonth(current_date.getMonth()+1);
  current_year = current_date.getFullYear();
  current_month = month_array[current_date.getMonth()];
  refresh();
});
$("#getNextYear").click(function(){
  current_date.setFullYear(current_date.getFullYear()+1);
  current_year = current_date.getFullYear();
  refresh();
});
$("#getLastYear").click(function(){
  current_date.setFullYear(current_date.getFullYear()-1);
  current_year = current_date.getFullYear();
  refresh();
});

jQuery.ajaxSetup({
   'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
});

$(".dates").parent("td").click(function(e){
    $("#when_text").val('');
    $("#when_text").html('' + current_month + ' ' + $(this).children().attr('name') + ', ' + current_year);
    $("#popup").find("#event_title, #event_time, #date_field, textarea ").val('');
    $("#popup").find('#date_field').val('' + current_month + ' ' + $(this).children().attr('name') + ', ' + current_year);
    current_clicked_day = $(this).text();
    
    if($("#in_event").val() == ""){
	var popup_height = $("#popup").height();
	var popup_width = $("#popup").width();
	var x = e.pageX - popup_width/2;
	var y = e.pageY - popup_height/2;

	if($(window).width() < x + popup_width){
	    x = $(window).width() - popup_width;
	}
	
	if(x-popup_width/4 < 0){
	    x = 0;
	}
	
	if(y < 0){
	    y = 0;
	}
	
	$("#popup").css({'display': 'block', 'left': '' + x + 'px', 'top': '' + y + 'px'});
	$("#popup").animate({opacity: '1'}, 'fast');
    }
    else{
	$("#event_title input").val($("#in_event").val());
	$("#event_time input").val($("#hr_select").val() + ":" + $("#min_select").val());
	$("#new_event").submit();
	$("#hr_select").val("0");
	$("#min_select").val("0");
	$("#in_event").val("");
    }
});


checkWindowSize(false);

//set current day to be grey
  if (current_month == month_array[current_date.getMonth()] &&
    current_year == current_date.getFullYear() ){
    $("#table_cell"+
       getCell_ID(current_date.getDate())).css("background-color","#c3c3c3");
  }
}

$(document).ready(function(){
   $("#popup").prepend('<button type="button" class="close_btn"'+
                       'onclick="closePopup()">X</button>');


refresh();
checkWindowSize(false);
$(window).resize(checkWindowSize);

});

