<!DOCTYPE html>
<html>
  <head>
    <title>Project 2</title>
  </head>
  <body>
    <h1>Project 2</h1>
    <p>To use Twitter Bootstrap and JQuery, install gem as shown below</p>
    <p>gem install jquery-rails</p>
    <p>gem install twiter-bootstrap-rails</p>
    <br>
    <p>To user JQuery, simply add the following line to Gemfile:</p>
    <p>gem "jquery-rails"</p>
    <p>Then add the require library in the assets/javscripts/application.js</p>
    <p>//=require jquery</p>
    <p>//=require jquery_ujs</p>
	<br>
    <p>Twitter Bootstrap provides there are 2 types of stylesheets:</p>
    <p>Plain CSS and "Less" stylesheets</p>
	<br>
    <p>I also need to generate the assets for my app.</p>
	<p>rails generate bootstrap:install static</p>


    <p>I may also use "Less" stylesheet as it provides more customisation options</p>
    <p>To install Less style sheet, I included the lines below to the Gemfile</p>
    <p>gem "therubyracer"</p>
    <p>gem "less-rails"</p>
    <p>gem "twitter-bootstrap-rails"</p>
	<br>
    <p>bundle install</p>
	<br>

    <p>There are more tutorial to use Less app. I can find it under here.</p>
    <p>http://rubydoc.info/gems/twitter-bootstrap-rails/2.2.8/frames</p> 


  </body>
</html
