

		<div class="span9">
			<h1>Project 2</h1>
			<p>
				&nbsp;</p>
			<p>
				To use Twitter Bootstrap and JQuery, install gem as shown below</p>
			<p style="margin-left: 40px;">
				<code>gem install jquery-rails</code></p>
			<p style="margin-left: 40px;">
				<code>gem install twiter-bootstrap-rails</code></p>
			<p>
				To user JQuery, simply add the following line to Gemfile:</p>
			<p style="margin-left: 40px;">
				<code>gem &quot;jquery-rails</code></p>
			<p>
				Then add the require library in the assets/javscripts/application.js</p>
			<p style="margin-left: 40px;">
				<code>//=require jquery</code></p>
			<p style="margin-left: 40px;">
				<code>//=require jquery_ujs</code></p>
			<br />
			<p>
				Twitter Bootstrap provides there are 2 types of stylesheets:</p>
			<p>
				Plain CSS and &quot;Less&quot; stylesheets</p>
			<br />
			<p>
				I also need to generate the assets for my app.</p>
			<p style="margin-left: 40px;">
				<code>rails generate bootstrap:install static</code></p>
			<p>
				I may also use &quot;Less&quot; stylesheet as it provides more customisation options</p>
			<p>
				To install Less style sheet, I included the lines below to the Gemfile</p>
			<p style="margin-left: 40px;">
				<code>gem &quot;therubyracer&quot;</code></p>
			<p style="margin-left: 40px;">
				<code>gem &quot;less-rails&quot;</code></p>
			<p style="margin-left: 40px;">
				<code>gem &quot;twitter-bootstrap-rails&quot;</code></p>
			<p>
				Then</p>
			<p style="margin-left: 40px;">
				<code>bundle install</code></p>
			<br />
			<p>
				There are more tutorial to use Less app. I find it under here.</p>
			<p style="margin-left: 40px;">
				<code>http://rubydoc.info/gems/twitter-bootstrap-rails/2.2.8/frames</code></p>
		</div>



