// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home_table, #home_table td, #home_table th
{
border-collapse:collapse;
padding: 5px 10px;
background: #fefefe;
table-layout:auto;
border:1px solid #a1a1a1;
}
